# ===============================
# Laravel 関連
# ===============================
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*
/.env.backup
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
composer.lock

# ===============================
# Docker 関連
# ===============================
/db_data
docker-compose.override.yml

# ===============================
# IDE / エディタ 関連
# ===============================
/.idea
/.vscode
.DS_Store

# ===============================
# OS・ログ関連
# ===============================
Thumbs.db
*.log
